/*************************
***  GENERAL SETTINGS  ***
*************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  
  }
  
body {
    background-color: var(--darkgrey);
    scroll-behavior: auto;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll; /* Add scrollbar for vertical overflow */
  }

:root{
    /* root colors */
    --darkgrey: #27282B;
    --dark: #201E1E;
    --lime: #55EC20;
    --lightgrey: #ebebeb;
    --grey:#808080;

  }




/* NAV indstilligner */
nav {
    background-color: var(--dark);
    overflow: hidden;
    color: var(--lightgrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.logo img {
    width: 4em; /* Juster bredden efter behov */
    height: auto;
    margin-right: 20px;
}
.logo p {
    text-transform: uppercase;
    left: 100px;
}

.logo {
    display: flex;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--lime);
}



/* Modal */

/* Tandhjul knap til top højre */
.settings {
    margin-left: 80% !important;; /* Placerer .settings til højre kant af forældrecontaineren */
    margin-right: 200px; /* Tilføj margin til højre for at justere ikonets position */
    margin-top: 5%;
    font-size: 1.7em;
    color: var(--lime); /* Ændrer ikonfarven til limegrøn */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: var(--lightgrey);
    backdrop-filter: blur(8px); /* Add a blur effect to the background */

  
  }
  
  /* Modal Content */
  .modal-content {
    background-color: var(--darkgrey);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

}
.modal-content h2 {
    text-align: left;
    margin-bottom: 40px; /* Add some bottom margin for spacing */
}
  /* The Close Button */
  .close {
    color: #aaaaaa;
    position: absolute;
    top: 109px; /* Adjust the top distance as needed */
    right: 31%; /* Adjust the right distance as needed */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
  }
#myBtn {
 background-color: var(--dark);
 color: var(--lime);

}

.tester {
    color: var(--lightgrey);
    text-transform: uppercase;
}

.settings-text {
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    color: var(--lightgrey);
    margin: 10%;
}

.toggle-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--lightgrey);
}


.burger-container {
    display: flex;
    align-items: center;
}

.burger-button {
    margin-left: 10px;
    cursor: pointer;
}

.burger-menu {
    display: none;
    /* Initially hide the menu */
    flex-direction: column;
    margin-top: 10px;
}

.burger-menu p {
    margin: 5px 0;
}

#priser-toggle:checked~.toggle-section,
#alarm-toggle:checked~.toggle-section,
#region-toggle:checked~.toggle-section {
    display: none;
}

input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 35px;
    -webkit-appearance: none;
    appearance: none;
    background: var(--dark);
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

input[type="checkbox"]::before {
    content: "";
    width: 40px;
    height: 30px;
    border-radius: 50%;
    background: var(--lime);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    border: 2px dashed var(--lime);
}

input[type="checkbox"]:checked::before {
    transform: translateX(100%);
    background: var(--lime);
    border: 2px dashed var(--lime);
}

input[type="checkbox"]:checked {
    background: var(--dark);
    border: 2px dashed var(--lime);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: auto;
}
.iframe-container {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    filter: blur(2px);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.fa-times {
    font-size: 24px;
    cursor: pointer;
}

/* --------------------------------------------------------------- */


/* Hoved artikel: */

#desktop-content {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 10px;
}


/* --------------------------------------------------------------- */



/* EL PRISER SEKTIONEN */
.elpriser {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: var(--darkgrey);
    margin: 2em;
}

.elpriser div {
    text-align: center;
    bottom: 60px !important;
}

.elpriser h1 {
    color: var(--lightgrey);
    font-weight: 300;
    font-size: x-large;
    position: absolute;
    top: 20%;
    left: 11.5%;
}

.circle {
    position: relative;
    margin: 20px;
    height: 15em;
    width: 15em;
    background-color: var(--dark);
    border-radius: 50%;
    overflow: hidden; /* Ensure content inside the circle is hidden when rotating */
    margin-top: 25%;
    box-shadow: 2px 0 5px 5px var(--grey);
}

.circle p {
    text-align: center;
    color: var(--lime);
    font-weight: bold;
    font-size: large;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle:before {
    position: absolute;
    content: '';
    height: 90%; 
    width:90%; 
    border: 2px dashed var(--lime);
    border-radius: 50%;
    animation: spin 60s linear infinite;
    transform-origin: center; /* Set the rotation origin to the center of the element */
    top: 5%; /* Position from the top center of the circle */
    left: 5%; /* Position from the left center of the circle */
}
.circle:after {
    position: absolute;
    content: '';
    height: 80%; 
    width:80%; 
    border: 2px dashed var(--lime);
    border-radius: 50%;
    animation: spin 60s linear infinite reverse;
    transform-origin: center; /* Set the rotation origin to the center of the element */
    top: 10%; /* Position from the top center of the circle */
    left: 10%; /* Position from the left center of the circle */
}

@keyframes spin { 
    100% { 
        transform: rotateZ(-360deg);
    }
}


.IndexTime{
    height: 20vh;
    left: 100%;
}
.IndexTime p {
top: 62% !important;
left: 16.5% !important;
}
.IndexTime p {
    text-align: center;
    color: var(--lime);
    font-weight: bold;
    font-size: medium;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ------------------------------------------------------------------------------------ */



/* Oversigt CSS */

.oversigt-text {
    color: var(--lightgrey);
    font-weight: 300;
    font-size: x-large;
    position: absolute;
    top: 20%;
    left: 37%;
    text-transform: uppercase;
}


.circleHead {
    height: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circles-container {
    display: flex;
}

.circle-oversigt,
.circle-oversigt2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--dark);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3%;
    bottom: 130px;
    margin: 1em;
}

.circle-oversigt:before,
.circle-oversigt2:before {
    content: '';
    position: absolute;
    height: 70%;
    width: 70%;
    border: 2px dashed var(--lime);
    border-radius: 50%;
    animation: spin 60s linear infinite;
    transform-origin: center;
}

.circle-label {
    position: absolute;
    text-align: center;
    color: var(--lightgrey);
    font-size: 16px;
    top: 82%;
    left: 13.5%;
    transform: translateX(-50%);
}
.circle-label2 {
    position: absolute;
    text-align: center;
    color: var(--lightgrey);
    font-size: 16px;
    top: 82%;
    left: 20.5%;
    transform: translateX(-50%);
}


.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;

}


.top-text {
    font-size: 14px; /* Adjust the font size as needed */
    font-weight: 400;
    line-height: 1.2; /* Adjust the line height as needed */
    color: var(--lightgrey);
}
.bottom-text {
    font-size: 10px; /* Adjust the font size as needed */
    font-weight: 300;
    line-height: 1.2; /* Adjust the line height as needed */
    color: var(--lightgrey);
}


.lower-text {
    text-align: left;
    margin-left: 1%;
    position: absolute;
    max-width: 240px;
    top: 100%;

}
.lower-text p {
    color:var(--lightgrey);
    text-transform: uppercase;

}

/* ------------------------------------------------ */

.time {
    height: 80vh;
    justify-content: space-around; /* Adjust the space between circles */
}

.time-container {
    bottom: 70%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    font-size: 18px;
    background-color: var(--dark);
    color:var(--lightgrey);
    margin: 10px auto;
    padding: 20px;
    height: 2em;
    width: 15em;
    border-radius: 0.5em;
    overflow: hidden;
    border: 2px solid transparent; /* Set initial border style */
    transition: border-color 0.5s ease; /* Add a smooth transition effect for border-color changes */
    position: relative;
    box-shadow: 1px 0px 15px 0px rgba(255, 255, 255, 0.6);
    right: 30%;
}

.time-container:hover {
    border-color: var(--lime);
}

.time-label {
    font-weight: bold;
    margin-right: 10px;
}

.time-value {
    flex-grow: 1;
    text-align: right;
}

.time-container:focus {
    outline: none;
    box-shadow: 0 0 10px 5px var(--lime);
    border-color: transparent;
}



/* --------------------------------------------------------------- */


/* HISTORIK HTML */

.historik {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh;
    background-color: var(--darkgrey);
    margin: 2em;
    top: 60%;
}

.historik div {
    text-align: center;
}


.historik h1 {
    color: var(--lightgrey);
    font-weight: 300;
    font-size: x-large;
    position: absolute;
    top: 20%;
    left: 59.9%;
}


.date-container {
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: var(--dark);
    color:var(--lightgrey);
    margin: 15%;
    padding: 5%;
    height: 0.5em;
    width: 43%;
    border-radius: 0.5em;
    overflow: hidden;
    border: 2px solid transparent; /* Set initial border style */
    transition: border-color 0.5s ease; /* Add a smooth transition effect for border-color changes */
    position: relative;
    bottom: 366%;
    left: 155%;
    box-shadow: 1px 0px 15px 0px rgba(255, 255, 255, 0.6);
}

.date-container:hover {
    border-color: var(--lime); /* Change the border color on hover */
}

/* Add a glow effect using box-shadow */
.date-container:focus {
    outline: none;
    box-shadow: 0 0 10px 5px var(--lime);
    border-color: transparent; /* Hide the border when the glow effect is active */
}

.date {
    margin-right: 10px;
}


.historik-time {
    height: 40vh;
    justify-content: space-around; /* Adjust the space between circles */
    scroll-behavior: smooth;
}

.historik-time-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    font-size: 18px;
    background-color: var(--dark);
    color:var(--lightgrey);
    margin: 10px auto;
    max-width: 15em;
    padding: 20px;
    height: 2em;
    border-radius: 0.5em;
    overflow: hidden;
    border: 2px solid transparent; /* Set initial border style */
    transition: border-color 0.5s ease; /* Add a smooth transition effect for border-color changes */
    position: relative;
    box-shadow: 1px 0px 15px 0px rgba(255, 255, 255, 0.6);
    left: 40%;
    bottom: 320%;
    width: 65%;
}

.historik-time-container:hover {
    border-color: var(--lime);
}

.historik-time-label {
    font-weight: bold;
    margin-right: 10px;
}

.historik-time-value {
    flex-grow: 1;
    text-align: right;
}

.historik-time-container:focus {
    outline: none;
    box-shadow: 0 0 10px 5px var(--lime);
    border-color: transparent;
}

.calendar-icon {
    cursor: pointer;
    color: var(--lime);
    margin-left: auto;
}


/* --------------------------------------------------------------- */
